{% extends 'base.html' %}

{% block title %}
Article update
{% endblock %}

{% block body %}
<div class='container'>
	<h1>Article update</h1>
	<form method='post'>
		<input type='text' name='title' id='title' class='form-control' value="{{ article.title }}" placeholder="Enter title"><br>
		<textarea name='intro' id='intro' class='form-control' placeholder="Enter announce">{{ article.intro }}</textarea><br>
		<textarea name='text' id='text' class='form-control' placeholder="Enter text">{{ article.text }}</textarea><br>
		<input type='submit' class='btn btn-success' value='Update'>
	</form>
</div>
{% endblock %}